In [1]:
# Import dependencies
import pandas as pd
import csv
import os

In [2]:
# Loading the csv files and reading them into dataframe
new_measurement = os.path.join('clean Data.csv')
station = os.path.join('hawaii_stations.csv')
new_measurement_df = pd.read_csv(new_measurement, encoding='utf-8')
station_df = pd.read_csv(station,encoding='utf-8')
new_measurement_df.head()

       station        date      prcp  tobs
0  USC00519397  2010-01-01  0.080000    65
1  USC00519397  2010-01-02  0.000000    63
2  USC00519397  2010-01-03  0.000000    74
3  USC00519397  2010-01-04  0.000000    76
4  USC00519397  2010-01-06  0.160644    73

In [3]:
# Import SQL Alchemy
import sqlalchemy
from sqlalchemy import create_engine,MetaData

# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float,Date,Text

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [4]:
# Create our database engine
engine = create_engine('sqlite:///hawaii.sqlite')

In [5]:
conn=engine.connect()

In [6]:
Base = declarative_base()

In [7]:
# Create the Measurement class
class Measurement(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True) 
    station = Column(String)
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Float)

In [8]:
# create the Station class
class Station(Base):
    __tablename__= 'station'
    id = Column(Integer, primary_key=True) 
    station = Column(String)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [9]:
# This is where we create our tables in the database
Base.metadata.create_all(engine)

In [10]:
new_measurement_df.to_sql('measurement',engine,if_exists='append',index_label='id')

In [11]:
conn.execute('SELECT * FROM measurement limit 5').fetchall()

[(0, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (1, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (2, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (3, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (4, 'USC00519397', '2010-01-06', 0.16064353974479206, 73.0)]

In [12]:
station_df.to_sql('station',engine,if_exists='append',index_label='id')

In [13]:
conn.execute('select * from station limit 5').fetchall()

[(0, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (1, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (2, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (3, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (4, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]